<p id="notice"><%= notice %></p>

<h2>
  <strong>Name:</strong>
  <%= @user.name %>
</h2>

	<div>
		<h2 class ="headings">My Events</h2>
		<% if @user.events.any? %>
			<ul>
				<%= render @events %>
			</ul>
		<% else %>
			<h3>No Events Found</h3>
		<% end %>
	</div>

  <% if @user.attended_events.any? %>
	<h2 class ="headings">Upcoming Events</h2> 
	<ul class="media-list">
		<%= render @upcoming_events %>
	</ul>
<% else %>
	<h2>No Upcoming Events</h2>
<% end %>

<% if @past_events.any? %>
	<h2 class ="headings">Past Events</h2> 
	<ul class="media-list">
		<%= render @past_events %>
	</ul>
<% end %>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
