<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<!--<% if @user.events.any? %>
		<h3>Submitted (<%= @user.events.count %>) events</h3>
      <p> Event: <%= event.title%></p>
      <p> Description: <%= event.description%></p>
      <p> Date: <%= event.date%></p><br> 
<% end %>-->

  <% if @user.attended_events.any? %>
	<h2>Upcoming Events</h2> 
	<ul class="media-list">
		<%= render @upcoming_events %>
	</ul>
<% else %>
	<h2>No Upcoming Events</h2>
<% end %>

<% if @past_events.any? %>
	<h2>Past Events</h2> 
	<ul class="media-list">
		<%= render @past_events %>
	</ul>
<% end %>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
