<p id="notice"><%= notice %></p>


<% if @user.events.any? %>
		<h3>Submitted (<%= @user.events.count %>) events</h3>
		<ul class="media-list">
			<%= render @events %>
		</ul>
		<%= will_paginate @events %>
	<% else %>
		<h3>No Events Found</h3>
	<% end %>


<!--<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
-->